{% extends "wifidomos/layout.html" %}
{% block title %}WiFiDomo Archive{% endblock %}
{% block body %}
  <h2>Delete Location “{{ location.name }}”</h2>
  <p>
    Do you want to delete this location?  And if yes, what should
    happen with the wifidomos in that location?
  <form action="" method=post>
    <p>
      <select name=move_to>
        <option value="">Delete WiFiDomos</option>
      {%- for location in other_locations %}
        <option value={{ location.id }}>Move to “{{ location.name }}”</option>
      {%- endfor %}
      </select>
    <p>
      <input type=submit value=Delete>
      <input type=submit name=cancel value=Cancel>
  </form>
{% endblock %}
