{% extends "wifidomos/layout.html" %}
{% block title %}{{ location.name }}{% endblock %}
{% block body %}
  <h2>{{ location.name }}</h2>
  {% if location.count > 3 %}
  <p>
    Here you can find all {{ category.count }} snippets of this
    category.  You can also
  {% else %}
    This category is pretty empty so far.  Why not
  {% endif %}
    <a href="{{ url_for('wifidomo.new',
      category=location.slug) }}">add a new one</a>.
  {% if locations %}
  <h3>WiFiDomos in this Location:</h3>
  <ul>
  {% for wifidomo in wifidomos %}
    <li><a href="{{ wifidomo.url }}">{{ wifidomo.title }}</a>
        <small>({{ wifidomo.pub_date|dateformat }})</small>
  {% endfor %}
  </ul>
  {% endif %}
{% endblock %}
