{% extends "layout.html" %}
{% block head %}
  {{ super() }}
  <style type=text/css>
    h1 { margin: 0 0 10px 0; background: url({{ url_for('static', filename='voc/abstr_0.3.5.png') }}) no-repeat center; width 880px;height: 200px; }
    h1 span, p.tagline { display: none;
  </style>
  <script type=text/javascript>
    $(function() {
      $('h1').bind('mousedown contextmenu', function(event) {
        if (event.button != 2)
          return;
        var box = $('div.logohint');
        if (!box.is(':visible'))
          box.animate({'height': 'show', 'opacity': 'show'}, 100);
        event.preventDefault();
        event.returnValue = false;
        return false;
      });
    });
  </script>
{% endblock %}
{% block body_title %}
  {{ super() }}
  <p class=tagline>Mixing Open Source and Electronics.</p>
{% endblock %}

{% block body %}
  <div class="header">
    <h3 class="text-muted">Meterstanden</h3>
  </div>
  <pre>
    <span class=ig2>
      Add new:
      <div class="ig2">
        <form method="post" action="{{ url_for('add_entry') }}" class="meterstanden">
        <label for="elektra1" class="sr-only">Elektra I:</label>
        <input type="name" name="elektra1" id="elektra1" class="form-control" placeholder="Elektra I" required autofocus>
        <label for="elektra2" class="sr-only">Elektra II:</label>
        <input type="name" name="elektra2" id="elektra2" class="form-control" placeholder="Elektra II" required autofocus>
        <label for="water" class="sr-only">Water:</label>
        <input type="name" name="water" id="water" class="form-control" placeholder="Water" required autofocus>
        <label for="gas" class="sr-only">Gas:</label>
        <input type="name" name="gas" id="gas" class="form-control" placeholder="Gas" required autofocus>
        <label for="opname" class="sr-only">Opname datum:</label>
        <input type="name" name="opname" id="gas" class="form-control" placeholder="opname datum" required autofocus><br>
        <input type="submit" />
      </form>
      </div>
    </span>
  </pre>
{% endblock %}
