list.html{% block head %}
  {{ super() }}
  <style type=text/css>
    h1 { margin: 0 0 10px 0; background: url({{ url_for('static', filename='voc/abstr_0.3.5.png') }}) no-repeat center; width 880px;height: 200px; }
    h1 span, p.tagline { display: none;
  </style>
  <script type=text/javascript>
    $(function() {
      $('h1').bind('mousedown contextmenu', function(event) {
        if (event.button != 2)
          return;
        var box = $('div.logohint');
        if (!box.is(':visible'))
          box.animate({'height': 'show', 'opacity': 'show'}, 100);
        event.preventDefault();
        event.returnValue = false;
        return false;
      });
    });
  </script>
{% endblock %}
{% block body_title %}
  {{ super() }}
  <p class=tagline>Mixing Open Source and Electronics.</p>
{% endblock %}
{% block body %}
  <div class="header">
    <h3 class="text-muted">Meterstanden</h3>
  </div>
  <pre>
    <span class=ig2>
      Laaste entry in database:
      <ul class=overzicht>
      {% for entry in overzicht %}
        <li><h2>Opname datum: {{ entry.opname }}</h2><br> Electra1: {{ entry.elektra1 }}, Electra2: {{ entry.elektra2 }}, Gas: {{ entry.Gas }}, Water: {{ entry.Water }}
      {% else %}
        <li><em>Unbelievable.  No entries here so far</em>
      {% endfor %}
      </ul>
    </span>
  </pre>
{% endblock %}
