{% extends "layout.html" %}
{% block head %}
  {{ super() }}
  <style type=text/css>
    h1 { margin: 0 0 10px 0; background: url({{ url_for('static', filename='voc/logo_wifidomo.png') }}) no-repeat center; width 880px;height: 200px; }
    h1 span, p.tagline { display: none;
  </style>
  <script type=text/javascript>
    $(function() {
      $('h1').bind('mousedown contextmenu', function(event) {
        if (event.button != 2)
          return;
        var box = $('div.logohint');
        if (!box.is(':visible'))
          box.animate({'height': 'show', 'opacity': 'show'}, 100);
        event.preventDefault();
        event.returnValue = false;
        return false;
      });
    });
  </script>
{% endblock %}
{% block body_title %}
  {{ super() }}
  <p class=tagline>Current available WiFiDomos.</p>
{% endblock %}
{% block body %}
  <pre>
    <span class=ig2>
      <ul class=overzicht>
      {% for entry in overzicht %}
        <li>
          <h2>Unique ID: {{ entry.uid }}</h2><br>
          Network IP: {{ entry.ipaddress }},<br>
          MAC: {{ entry.network_mac }}, <br>
          Hostname: {{ entry.hostname }}, <br>
          Descrption: {{entry.description }}, <br>
          Location: {{ entry.location }}<br>
      {% else %}
        <li><em>Unbelievable.  No entries here so far</em>
      {% endfor %}
      </ul>
    </span>
  </pre>
{% endblock %}
